 <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Home stuff!</h1>
        <p class="lead">Good Transportation company to trust, provide excellent services blah blah blah.....They had excellant staff to serve you better, provide upto date about the goods</p>
         TEST{{message}} {{$scope.$route.current.$$route.activetab}}
          <p class="lead">Good Transportation company to trust, provide excellent services blah blah blah.....They had excellant staff to serve you better, provide upto date about the goods</p>
          <p class="lead">Good Transportation company to trust, provide excellent services blah blah blah.....They had excellant staff to serve you better, provide upto date about the goods</p>   <p class="lead">Good Transportation company to trust, provide excellent services blah blah blah.....They had excellant staff to serve you better, provide upto date about the goods</p>   <p class="lead">Good Transportation company to trust, provide excellent services blah blah blah.....They had excellant staff to serve you better, provide upto date about the goods</p>   <p class="lead">Good Transportation company to trust, provide excellent services blah blah blah.....They had excellant staff to serve you better, provide upto date about the goods</p>
          <p class="lead">Good Transportation company to trust, provide excellent services blah blah blah.....They had excellant staff to serve you better, provide upto date about the goods</p>

      </div>