 <!-- Jumbotron -->
      <div >
        <h1>About stuff!</h1>
        <p>This page include details about the company, goal of the company and its progess, services, products blah blah blah.......</p>
          <p>This page include details about the company, goal of the company and its progess, services, products blah blah blah.......</p>
          <p>This page include details about the company, goal of the company and its progess, services, products blah blah blah.......</p>
          <p>This page include details about the company, goal of the company and its progess, services, products blah blah blah.......</p>
          <p>This page include details about the company, goal of the company and its progess, services, products blah blah blah.......</p>  <p>This page include details about the company, goal of the company and its progess, services, products blah blah blah.......</p>
          <p>This page include details about the company, goal of the company and its progess, services, products blah blah blah.......</p>
          <p>This page include details about the company, goal of the company and its progess, services, products blah blah blah.......</p>




      </div>